language: c++
env:
  global:
    - IDE_VERSION=1.6.11
  matrix:
    - BOARD="arduino:avr:uno"
    - BOARD="arduino:avr:leonardo"
    - BOARD="arduino:avr:mega:cpu=atmega2560"
matrix:
  allow_failures:
before_install:
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16
  - sleep 3
  - export DISPLAY=:1.0
  - wget http://downloads.arduino.cc/arduino-$IDE_VERSION-linux64.tar.xz
  - tar xf arduino-$IDE_VERSION-linux64.tar.xz
  - mv arduino-$IDE_VERSION $HOME/arduino-ide
  - export PATH=$PATH:$HOME/arduino-ide
  - if [[ "$BOARD" =~ "arduino:sam:" ]]; then
      arduino --install-boards arduino:sam;
    fi
  - if [[ "$BOARD" =~ "arduino:samd:" ]]; then
      arduino --install-boards arduino:samd;
    fi
  - if [[ "$BOARD" =~ "Intel:arc32" ]]; then
      arduino --install-boards Intel:arc32;
    fi
  - buildExampleSketch() { arduino --verbose-build --verify --board $BOARD $PWD/examples/$1/$1.ino; }
install:
  - mkdir -p $HOME/Arduino/libraries
  - ln -s $PWD $HOME/Arduino/libraries/.
script:
  - buildExampleSketch A_hello_menu
  - buildExampleSketch B_serial_menu
  - buildExampleSketch C_functions_menu
  - buildExampleSketch D_buttons_menu
  - buildExampleSketch E_progmem_menu
  - buildExampleSketch F_focus_menu
  - buildExampleSketch G_glyph_menu
  - buildExampleSketch H_system_menu
  - buildExampleSketch J_scrolling_menu
  - buildExampleSketch K_getters_menu
